Source/Game.Desktop.DirectX/Bin/Win32/Debug/Game.Desktop.DirectX.exe
Source/Game.Desktop.DirectX/Bin/Win32/Debug/Game.Desktop.DirectX.ilk
Source/Game.Desktop.DirectX/Bin/Win32/Debug/Game.Desktop.DirectX.pdb
Source/Game.Desktop.DirectX/Bin/x64/Debug/Game.Desktop.DirectX.exe
Source/Game.Desktop.DirectX/Bin/x64/Debug/Game.Desktop.DirectX.ilk
Source/Game.Desktop.DirectX/Bin/x64/Debug/Game.Desktop.DirectX.pdb
Source/Game.Desktop.DirectX/Bin/x64/Release/Game.Desktop.DirectX.exe
Source/Game.Desktop.DirectX/Bin/x64/Release/Game.Desktop.DirectX.iobj
Source/Game.Desktop.DirectX/Bin/x64/Release/Game.Desktop.DirectX.ipdb
Source/Game.Desktop.DirectX/Bin/x64/Release/Game.Desktop.DirectX.pdb
Source/Game.Desktop.DirectX/Obj/Win32/Game.Des.F567D0A2.tlog/CL.command.1.tlog
Source/Game.Desktop.DirectX/Obj/Win32/Game.Des.F567D0A2.tlog/CL.read.1.tlog
Source/Game.Desktop.DirectX/Obj/Win32/Game.Des.F567D0A2.tlog/CL.write.1.tlog
Source/Game.Desktop.DirectX/Obj/Win32/Game.Des.F567D0A2.tlog/Game.Desktop.DirectX.lastbuildstate
Source/Game.Desktop.DirectX/Obj/Win32/Game.Des.F567D0A2.tlog/link.command.1.tlog
Source/Game.Desktop.DirectX/Obj/Win32/Game.Des.F567D0A2.tlog/link.read.1.tlog
Source/Game.Desktop.DirectX/Obj/Win32/Game.Des.F567D0A2.tlog/link.write.1.tlog
Source/Game.Desktop.DirectX/Obj/Win32/Game.Desktop.DirectX.Build.CppClean.log
Source/Game.Desktop.DirectX/Obj/Win32/Game.Desktop.DirectX.log
Source/Game.Desktop.DirectX/Obj/Win32/Game.Desktop.DirectX.pch
Source/Game.Desktop.DirectX/Obj/Win32/pch.obj
Source/Game.Desktop.DirectX/Obj/Win32/Program.obj
Source/Game.Desktop.DirectX/Obj/Win32/Renderer.obj
Source/Game.Desktop.DirectX/Obj/Win32/vc141.idb
Source/Game.Desktop.DirectX/Obj/Win32/vc141.pdb
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/CL.command.1.tlog
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/CL.read.1.tlog
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/CL.write.1.tlog
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/Game.Desktop.DirectX.lastbuildstate
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/Game.Desktop.DirectX.write.1u.tlog
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/link.command.1.tlog
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/link.read.1.tlog
Source/Game.Desktop.DirectX/Obj/x64/Game.Des.F567D0A2.tlog/link.write.1.tlog
Source/Game.Desktop.DirectX/Obj/x64/Game.Desktop.DirectX.log
Source/Game.Desktop.DirectX/Obj/x64/Game.Desktop.DirectX.pch
Source/Game.Desktop.DirectX/Obj/x64/pch.obj
Source/Game.Desktop.DirectX/Obj/x64/Program.obj
Source/Game.Desktop.DirectX/Obj/x64/Renderer.obj
Source/Game.Desktop.DirectX/Obj/x64/vc141.idb
Source/Game.Desktop.DirectX/Obj/x64/vc141.pdb
Source/Game.Desktop.OpenGL/Bin/
Source/Game.Desktop.OpenGL/Obj/
Source/Library.Desktop/Bin/
Source/Library.Desktop/Obj/
Source/UnitTest.Library.Desktop/Bin/Win32/Debug/Scripts/Test.json
Source/UnitTest.Library.Desktop/Bin/Win32/Debug/UnitTest.Library.Desktop.dll
Source/UnitTest.Library.Desktop/Bin/Win32/Debug/UnitTest.Library.Desktop.exp
Source/UnitTest.Library.Desktop/Bin/Win32/Debug/UnitTest.Library.Desktop.lib
Source/UnitTest.Library.Desktop/Bin/Win32/Debug/UnitTest.Library.Desktop.pdb
Source/UnitTest.Library.Desktop/Bin/Win32/Release/Scripts/Test.json
Source/UnitTest.Library.Desktop/Bin/Win32/Release/UnitTest.Library.Desktop.dll
Source/UnitTest.Library.Desktop/Bin/Win32/Release/UnitTest.Library.Desktop.pdb
Source/UnitTest.Library.Desktop/Bin/x64/Debug/Scripts/Test.json
Source/UnitTest.Library.Desktop/Bin/x64/Debug/UnitTest.Library.Desktop.dll
Source/UnitTest.Library.Desktop/Bin/x64/Debug/UnitTest.Library.Desktop.exp
Source/UnitTest.Library.Desktop/Bin/x64/Debug/UnitTest.Library.Desktop.lib
Source/UnitTest.Library.Desktop/Bin/x64/Debug/UnitTest.Library.Desktop.pdb
Source/UnitTest.Library.Desktop/Bin/x64/Release/Scripts/Test.json
Source/UnitTest.Library.Desktop/Bin/x64/Release/UnitTest.Library.Desktop.dll
Source/UnitTest.Library.Desktop/Bin/x64/Release/UnitTest.Library.Desktop.exp
Source/UnitTest.Library.Desktop/Bin/x64/Release/UnitTest.Library.Desktop.iobj
Source/UnitTest.Library.Desktop/Bin/x64/Release/UnitTest.Library.Desktop.ipdb
Source/UnitTest.Library.Desktop/Bin/x64/Release/UnitTest.Library.Desktop.lib
Source/UnitTest.Library.Desktop/Bin/x64/Release/UnitTest.Library.Desktop.pdb
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/CL.command.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/CL.read.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/CL.write.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/link.command.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/link.delete.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/link.read.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/link.write.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/rc.command.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/rc.read.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/rc.write.1.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/UnitTest.Library.Desktop.lastbuildstate
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.AD7D2223.tlog/UnitTest.Library.Desktop.write.1u.tlog
Source/UnitTest.Library.Desktop/Obj/Win32/Attributed.obj
Source/UnitTest.Library.Desktop/Obj/Win32/AttributedFoo.obj
Source/UnitTest.Library.Desktop/Obj/Win32/AttributedTest.obj
Source/UnitTest.Library.Desktop/Obj/Win32/Datum.obj
Source/UnitTest.Library.Desktop/Obj/Win32/DatumTest.obj
Source/UnitTest.Library.Desktop/Obj/Win32/FactoryTest.obj
Source/UnitTest.Library.Desktop/Obj/Win32/Foo.obj
Source/UnitTest.Library.Desktop/Obj/Win32/HashMapTest.obj
Source/UnitTest.Library.Desktop/Obj/Win32/jsoncpp.obj
Source/UnitTest.Library.Desktop/Obj/Win32/JsonParseHelper.obj
Source/UnitTest.Library.Desktop/Obj/Win32/JsonParseHelperTable.obj
Source/UnitTest.Library.Desktop/Obj/Win32/JsonParseMaster.obj
Source/UnitTest.Library.Desktop/Obj/Win32/ParsingTests.obj
Source/UnitTest.Library.Desktop/Obj/Win32/pch.obj
Source/UnitTest.Library.Desktop/Obj/Win32/Scope.obj
Source/UnitTest.Library.Desktop/Obj/Win32/ScopeTest.obj
Source/UnitTest.Library.Desktop/Obj/Win32/SListTest.obj
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.Library.Desktop.Build.CppClean.log
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.Library.Desktop.log
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.Library.Desktop.pch
Source/UnitTest.Library.Desktop/Obj/Win32/UnitTest.Library.Desktop.res
Source/UnitTest.Library.Desktop/Obj/Win32/vc141.idb
Source/UnitTest.Library.Desktop/Obj/Win32/vc141.pdb
Source/UnitTest.Library.Desktop/Obj/Win32/VectorTest.obj
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/CL.command.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/CL.read.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/CL.write.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/link.command.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/link.read.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/link.write.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/rc.command.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/rc.read.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/rc.write.1.tlog
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/UnitTest.Library.Desktop.lastbuildstate
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.AD7D2223.tlog/UnitTest.Library.Desktop.write.1u.tlog
Source/UnitTest.Library.Desktop/Obj/x64/Attributed.obj
Source/UnitTest.Library.Desktop/Obj/x64/AttributedFoo.obj
Source/UnitTest.Library.Desktop/Obj/x64/AttributedTest.obj
Source/UnitTest.Library.Desktop/Obj/x64/Datum.obj
Source/UnitTest.Library.Desktop/Obj/x64/DatumTest.obj
Source/UnitTest.Library.Desktop/Obj/x64/Foo.obj
Source/UnitTest.Library.Desktop/Obj/x64/HashMapTest.obj
Source/UnitTest.Library.Desktop/Obj/x64/jsoncpp.obj
Source/UnitTest.Library.Desktop/Obj/x64/JsonParseHelper.obj
Source/UnitTest.Library.Desktop/Obj/x64/JsonParseHelperTable.obj
Source/UnitTest.Library.Desktop/Obj/x64/JsonParseMaster.obj
Source/UnitTest.Library.Desktop/Obj/x64/ParsingTests.obj
Source/UnitTest.Library.Desktop/Obj/x64/pch.obj
Source/UnitTest.Library.Desktop/Obj/x64/Scope.obj
Source/UnitTest.Library.Desktop/Obj/x64/ScopeTest.obj
Source/UnitTest.Library.Desktop/Obj/x64/SListTest.obj
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.Library.Desktop.log
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.Library.Desktop.pch
Source/UnitTest.Library.Desktop/Obj/x64/UnitTest.Library.Desktop.res
Source/UnitTest.Library.Desktop/Obj/x64/vc141.idb
Source/UnitTest.Library.Desktop/Obj/x64/vc141.pdb
Source/UnitTest.Library.Desktop/Obj/x64/VectorTest.obj
Code Coverage/
.vs/
Build/CoverageReport/
Build/packages/
Source/UnitTest.Library.Desktop/Obj/
Source/UnitTest.Library.Desktop/Bin/
Source/Game.Desktop.DirectX/Bin/
Source/Game.Desktop.DirectX/Obj/
